.jumbotron {
	background-color: #79C10D;
	color: black;
	margin-top: 50px;
}

.card-hotel {
	flex: 1 200px; 
	/*padding: 2px 5px 2px 5px; padding: 2px 0px 2px 0px;*/
	margin-top: 10px;
}

.jumbotron h1, .info h2, .card-hotel h4 {
	text-align: center;
}

.btn-reserva {
	width: 100%;
	background-color: black;
	border-color: black;
	border-radius: 0px;
}

.btn-reserva:hover, .btn-reserva:active, .btn-reserva:visited, .btn-reserva:focus {
	background-color: #79C10D;
	border-color: #79C10D;
}

a {
	text-decoration: none;
	color: black;
}

.links a:hover {
	color: black;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #79C10D;
	margin-bottom: 0px;
	margin-top: 10px;
	width: 100%;
}

.footer-address-icon {
	padding-right: 10px;
}

.btn-reserva-icon {
	color: #eeeeee;
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}