.jumbotron {
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #79C10D;
  padding: 90px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.jumbotron h1, .info h2, .card-hotel h4 {
  text-align: center; }

.btn-reserva {
  width: 100%;
  background-color: black;
  border-color: black;
  border-radius: 0px; }

.btn-reserva:hover, .btn-reserva:active, .btn-reserva:visited, .btn-reserva:focus {
  background-color: #79C10D;
  border-color: #79C10D; }

a {
  text-decoration: none;
  color: black; }

.links a:hover {
  color: black; }

footer {
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #79C10D;
  padding: 10px;
  width: 100%;
  padding-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.btn-reserva-icon {
  color: #eeeeee;
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

hr {
  background-color: #EC0F0F; }

/*# sourceMappingURL=styles.css.map */
