$yellow: #F7F414;
$green: #79C10D;
$red: #EC0F0F;

@mixin headFoot($top, $bottom, $color, $padTot) {
	margin-top: $top;
	margin-bottom: $bottom;
	background-color: $color;
	padding: $padTot;
}

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	color: black;
	@include headFoot(50px, 0px, $green, 90px);
}

.card-hotel {
	flex: 1 200px; 
	@include margenes(10px, 0px);
}

.jumbotron h1, .info h2, .card-hotel h4 {
	text-align: center;
}

.btn-reserva {
	width: 100%;
	background-color: black;
	border-color: black;
	border-radius: 0px;
}

.btn-reserva:hover, .btn-reserva:active, .btn-reserva:visited, .btn-reserva:focus {
	background-color: #79C10D;
	border-color: #79C10D;
}

a {
	text-decoration: none;
	color: black;
}

.links a:hover {
	color: black;
}

footer {
	@include headFoot(10px, 0px, $green,10px);
	width: 100%;
	padding-bottom: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.btn-reserva-icon {
	color: #eeeeee;
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

hr {
	background-color: $red;
}